.experience___container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.experience___container > div {
  background: var(--color-bg-variant);
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.experience___container > div:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.experience___container > div h3 {
  text-align: center;
  color: var(--color-primary);
  margin-bottom: 2rem;
}

.experience___container > div .experience___content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}

.experience__details {
  display: flex;
  gap: 1rem;
}

.experience___icon {
  color: var(--color-primary);
  margin-top: 6px;
}

.text-align {
  color: var(--color-light);
}

@media screen and (max-width: 1024px) {
  .experience___container {
    grid-template-columns: 1fr;
  }
  .experience___container > div {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .experience___container {
    gap: 1rem;
  }
  .experience___container > div {
    /* width: 90%; */
    margin: 0 40px 0 0;
  }
  .experience___content {
    gap: 1.5rem;
  }
}
